@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
	background-image: url(../img/bg1.jpg);
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  background-size: contain;
}
html{
	position: relative;
}
section{
  margin: auto;
  width: 80%;
	background-color: black;
}
hr{
	width: 200px;
}
nav  {
	position: fixed;
	padding-top
}
nav a img{
	height: 40px;
	margin-left: 150px;
}
nav form{
	margin-right: 10px;
	width: 50%;
}
.menu ul{
  position:relative;
	margin-left: 250px;
}
.menu ul li{
  display: inline;
  font-size: 20px;
  margin-right: 30px;
  font-size: 15px;
  line-height: 15px;
}

/* Tool Tip Bagian Galeri*/
.tooltip-inner {
    background-color: #fff;
		color: Black;
		box-shadow: 0px 10px 50px grey;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #fff !important;
}
/* End ToolTip */

/* BAGIAN HERO LANDING PAGE */
  .halamanatas {
    background-color: hsla(89, 43%, 51%, 0.9);
    min-height: 400px;
    text-align: center;
  }
  h1.title {
    text-transform: uppercase;
    font-weight: bold;
/*     margin-top:10%; */
    margin-left: 17%;
    margin-top: 15%;
  }
  .ats img {
    width: 200px;
    margin-top:10%
  }
  p.sub-title {
    margin-left: 18%;
  }
  .img-google img {
    width: 150px;
    margin-left: 18%;
  }
  #g-p-book {
    margin: 10px;
  }
/* FINISH HERO LANDING PAGE */

/* BAGIAN CONTENT 1 LANDING PAGE */
  .about {
    color: #6B9531;
    background-color: white;
  }
  h2.content-1-title {
    margin-top: 50px;
    text-transform: capitalize;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }
  .about p {
    text-align: justify;
  }
  .about .col-sm-12 {
    margin: 0px 50px 0px 90px;
  }
  p.content-p {
    font-size: 18px;
    padding-right: 170px;
  }
  img.img-mockup {
    margin-top: 50px;
    width: 110px;
  }
  .btn-content {
    outline: none !important;
    border: 2px solid #6B9531;
    background-color: white;
    color: #6B9531;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  #myBtn-1{
    margin-left: 40%;
    margin-bottom: 5%;
  }
  #myBtn-2{
    margin-left: 40%;
    margin-bottom: 10%;
  }
  #myBtn-3{
    margin-left: 42%;
    margin-bottom: 5%;
  }
  .btn-content:hover {
    background-color: #6B9531;
    color: white;
  }

/* FINISH CONTENT 1 LANDING PAGE */

/* BAGIAN CONTENT 2 LANDING PAGE */
  .portfolio {
    padding-top: 40px;
    background-color: white;
    color: #6B9531;
  }
  .portfolio h1 {
    margin-top: 50px;
  }
  h2.content-2-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
  }
  .portfolio p {
    text-align: justify;
  }
  #konten-2 {
    padding-left: 10%;
    padding-right: 10%;
  }

/* FINISH CONTENT 2 LANDING PAGE */

/* BAGIAN CONTENT 3 LANDING PAGE */
  .galeri{
    background-color: hsla(89, 43%, 51%, 0.9);
  }
  .galeri h2, h5 {
    margin-top: 5%;
    text-transform: capitalize;
    font-weight: bold;
  }
  .galeri a img{
    width: 220px;
    height: 280px;
    padding: 30px;
    /* border: 1px solid;  */
  }
  .gallery1 {
    /* padding: 60px; */
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .gallery-cell {
    width: 220px;
    background-color: #ffff;
    height: 280px;
    margin-right: 8px;
  }
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 10%;
    height: 70px;
  }
  .gallery-cell img{
    -webkit-filter: drop-shadow(5px 5px 5px #222 );
    filter: drop-shadow(5px 5px 5px #222);
  }
  .col-sm-12 img {
    float: left;
    margin-right: 20px;
  }
  .item1 h6{
    width:95.5%;
    background-color: white;
    color: #6B9531;
    font-size: 12px;
    padding-top: 3px;
    padding-left:3px;
    padding-bottom: 10px;
  }
  .btn-beli{
    height: 30px;
    width: 90%;
    margin-top: 5px;
    margin-left: 5px;
    border: 3px solid white;
    background-color: #8AC361;
    color:white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
  }
  .btn-beli:hover {
    background-color: white;
    color:  #8AC361;
  }


/* FINISH CONTENT 3 LANDING PAGE */

  #more-1 {display: none;}
  #more-2 {display: none;}
  #more-3 {display: none;}

  /*css slide show*/
  /* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@media (min-width: 1179px), print {

}

@media (min-width: 1001px) and (max-width: 1178px) {

}

@media (min-width: 769px) and (max-width: 1000px){

  /* HALAMAN ATAS */
    #g-p-book{
      margin-left:80px;
    }
    .about .col-sm-12 {
      margin: 0px 50px 0px 50px;
    }
    p.content-p {
      font-size: 18px;
      padding-right: 90px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {

  /* HALAMAN ATAS */
    h1.title {
      margin-left: 10%;
      margin-top: 15%;
      font-size: 30px;
	  }
	  p.sub-title {
      margin-left: 10%;
    }
    .img-google img {
      width: 120px;
      margin-left:10%
    }
    #g-p-book{
      margin-left: 15%;
    }
    .ats img {
      width: 180px;
      margin-top:10%;
      margin-left:-20%;
	  }

  /* ABOUT */
    .about .col-sm-12 {
      margin: 0px 20px 0px 20px;
    }
    p.content-p {
      font-size: 18px;
      padding-right: 40px;
    }
    #myBtn-1{
      margin-left: 34%;
    }

  /* PORTOFOLIO */
    #myBtn-2{
      margin-left: 30%;
    }

  /* GALERI */

}

@media (max-width: 575px) {

  /* HALAMAN ATAS */
    h1.title {
      margin-left: 1%;
      margin-top: 10%;
      font-size: 30px;
    }
    p.sub-title {
      margin-left: 1%;
    }
    #g-p{
      margin-left: 1%;
      width:130px;
      height:45px;
    }
    #g-p-book {
      width:130px;
      height:45px;
    }
    .img-google{margin:auto;
    }

  /* ABOUT */
    .about{
      position: relative;
      margin-top: -120px;
    }
    .about p{
      text-align: center;
    }
    h2.content-1-title {
      text-align: center;
      margin-top: 0px;
    }
    #myBtn-1{
      margin-left: 28%;
    }
    p.content-p {
      padding-left: 3%;
      padding-right: 3%;
    }
    .about .col-sm-12 {
      margin: 0px 10px 0px 10px;
    }
    img.img-mockup {
      width: 90px;
      margin-top: 50px;
    }
    .col-sm-12 img {
      float: none;
    }

  /* PORTOFOLIO */
    .portfolio p {
      text-align: center;
    }
    h2.content-2-title {
      text-align: center;
    }
    #myBtn-2{
      /* width: 60%; */
      margin: auto;
      margin-left: 26%;
      margin-bottom: 15%;
    }
    #konten-2 {
      padding-left: 5%;
      padding-right: 5%;
    }

  /* GALERI */
  .galeri a img{
    position:relative;
    margin-left:5px;
    padding:5px;
    width:150px;
    height:200px
  }
  .gallery-cell {
    width: 170px;
    height: 220px;
    padding:5px;
  }

}
