#btn_buku {
	margin-right: 5%;
}
#btn_keranjang {
	margin-left: 5%;
}
#btn_keranjang_det button {
	margin-left: 50px;
	width: 10vh;
	height: 7vh;
	border-color: transparent;
	border-radius: 5px;
	box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.1);
}
#btn_keranjang_det i {
	font-size: 3vh;
	color: #f68833;
}
.section h1 span {
	color: rgba(246, 136, 51, 1);
}
.btn-content-1 {
	outline: none !important;
	border: 2px solid #f68833;
	background-color: white;
	color: #f68833;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	width: 200px;
	text-align: center;
}
.btn-content-1:hover {
	background-color: #f68833;
	color: white;
}
#myBtn-1 {
	margin-left: 41.5%;
	margin-bottom: 5%;
}
